/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* ------------- BODY ------------- */
body {
	font-family: $default-font;
	font-size: 16px;
}

// /*----- Clearfix: Force an Element not to collapse -----*/
// .clearfix:after {
//   content: "";
//   display: table;
//   clear: both;
// }