$defaultFont: 'Work Sans', sans-serif;
$header-font-stack: 'Assistant', sans-serif;

$header-font-weight: 300;
$header-font-size: 1rem;

$normalWeight: 100;
$font-size: 0.8rem;

$bacis-font-color: #000000;
$header-font-color: #000000;

$burnt-orange: #C67C00;
$orange: #FF9F01;

$gutter: 2%;
$gutterdbl: (2 * $gutter);

%border-radius {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

%input-field{
  box-sizing: border-box;
  border: 0px;
  background-color: #ffffff;
  box-shadow: none;
  transition: none;
  -webkit-appearance: none;
}

%logo-box {
  margin: 0px;
}

%margin-bottom-16 {
  margin-bottom: 16px;
}

%padding-bottom50 {
  padding-bottom: 50px;
}
