@import "reset";
@import "variables";
@import "small-default";
@import "cards";

//35em is also 560px (if basefont is 16px)
@media only screen and (min-width: 35em) {
  @import "medium";
}

//64em is also 1028px (if basefont is 16px)
@media only screen and (min-width: 64em) {
  @import "large";
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: $default-font;
  color: $bacis-font-color;
  font-size: $font-size;
  background-color: #f4f4f4;
  margin-bottom: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-stack;
  margin: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: $bacis-font-color;
  font-family: $default-font;
  font-weight: 100;
  font-size: 0.9rem !important;
  margin: 0;
}

button,
.btn {
  background-color: $orange;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
}

header {
  background-color: $orange;
}

.login-logo-box {
  @extend %logo-box;
  margin: 0 auto;
  padding: 0 0 40px;
}

.logo-box img {
  // width:100%
  display: block;
  margin: auto;
}

.login-box {
  padding: 80px 10px 0;
  // background-color: #E6E6E6;

  .link {
    color: $orange;
    font-size: 0.7rem;
    font-weight: bold;
  }

  .link:hover {
    text-decoration: none;
  }
}

.login-footer {
  padding: 10px 10px 0;

  .footer {
    padding: 20px 0 0 0;
  }

  .link {
    color: $orange;
    font-size: 0.7rem;
    font-weight: bold;
  }

  p {
    text-align: center;
  }

  .link:hover {
    text-decoration: none;
  }
}

.fullImage {
  background: no-repeat 100% 60%;
  background-image: url(https://images.unsplash.com/photo-1457369804613-52c61a468e7d);
  // background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.0)),url(https://images.unsplash.com/photo-1457369804613-52c61a468e7d?dpr=1&auto=compress,format&fit=crop&w=1949&h=&q=80&cs=tinysrgb&crop=);
  height: 100%;
  min-height: 100vh;
  background-size: cover;
  position: relative;
}

.fullHeight {
  height: 100%;
}

.auth-header {
  font-weight: $normal-weight;
  padding-bottom: 40px;
}

.auth-intro-text {
  p {
    margin: 0;
    padding: 0;
  }
}

form {
  .input-group {
    @extend %margin-bottom-16;
    font-family: $header-font-stack;
  }

  button {
    top: 5px;
  }

  .btn:hover {
    cursor: pointer;
  }

  .form-control {
    @extend %input-field;
    height: 40px;
    padding: 0 10px 0 20px;
  }

  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(255, 255, 255, 0);
  }

}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
}

.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  div {
    width: 48%;
  }

}
